src/main/mule/foreach-session9.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dbcbf3ec-6306-48bd-8986-27275db6a134" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="foreach-session9Flow" doc:id="805e9605-631f-4dc4-a23a-4b1a70995af6" >
		<http:listener doc:name="Listener" doc:id="cdeee142-c2bb-427a-b6f8-da5d68f9566f" config-ref="HTTP_Listener_config" path="/foreach"/>
		<set-payload value="#[[1,2,3,4,5]]" doc:name="Set Payload" doc:id="c7fbd5bd-c9c6-4b2d-8b65-a6238f52d746" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="7c51ac4b-81a4-429c-92c3-ff5e61a4a9a6" variableName="mycollection"/>
		<set-payload value='#["Thanu"]' doc:name="Set Payload" doc:id="aedbc8e5-6a62-4495-a660-1210ab1023af" />
		<foreach doc:name="For Each" doc:id="ed46ce3f-25a7-4b6c-84d7-deade392d5f1" collection="#[vars.mycollection]">
			<set-payload value="#[payload * 10]" doc:name="Set Payload" doc:id="1ded5163-dacd-4b42-b786-a1b81c36b334" />
			<logger level="INFO" doc:name="Logger" doc:id="61e4a378-4d71-4340-ba18-68ef20aab20b" message="#[payload]"/>
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="1e0c9fd7-128e-4fc8-a2dc-b876f71d1a42" variableName="mypayload"/>
			<logger level="INFO" doc:name="Logger" doc:id="5e1921ec-2ebb-40e5-bf22-3d69b1b2fe23" message="dummy loger"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="99b0b1cd-8c1e-4b38-908c-15cdd1651788">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	payloadvalue : payload,
	varsvalue : vars.mypayload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
